### Python practice

In [1]:
a=10
b=20
c=a+b
print(c)

30

In [3]:
a=True
type(a)

bool

In [4]:
a=10
b=3
c=a/b
c

3.3333333333333335

In [5]:
type(c)

float

In [6]:
a,b=b,a
print(a,b)

3 10

In [7]:
a=int(input("enter a number: "))

enter a number: 896

In [10]:
a=10
b=2*5
c=12-2
print(c)

10

In [12]:
print(id(a))
print(id(b))
print(id(c))

2614207015504
2614207015504
2614207015504

In [14]:
print("line1",end="$ ")
print("line2",end=", ")
print("line3",end=". ")

line1$ line2, line3.

In [15]:
x=100
print(~x)

-101

In [19]:
y=12.4
print(~y)

TypeError: bad operand type for unary ~: 'float'

In [21]:
for i in range (1,4,1):
    print(i)
print("outside i is : ",i)

1
2
3
outside i is :  3

In [22]:
i=1
while i<=3:
    print(i)
    i+=0.5
print("outside i : ",i)

1
1.5
2.0
2.5
3.0
outside i :  3.5

In [23]:
name=[10,20,30,40,50]
for i in name:
    print(i)

10
20
30
40
50

In [24]:
#for 1,3,5,7,8
for i in range(1,22,2):
    print(i)

1
3
5
7
9
11
13
15
17
19
21

In [25]:
n=int(input("enter n:"))
for i in range(1,n+1,2):
    print(i)

enter n:8
1
3
5
7

In [26]:
start=int(input("enter start: "))
end=int(input("enter end"))
if start<end:
    for i in range(start,end+1):
        print(i)
else:
    for i in range(start,end-1,-1):
        print(i)

enter start: 5
enter end2
5
4
3
2

In [27]:
for i in range(1,11):
    pass

print("ok bye")

ok bye

In [1]:
while True:
    i=input("Enter data: ")
    if i=="":
        break
print("ok bye")

Enter data: 2
Enter data: sdewf
Enter data: efefw
Enter data: 5595
Enter data: 54+6
Enter data: 984
Enter data: 84+
Enter data: ""
Enter data:
ok bye

In [2]:
sum=0.0
while True:
    i=input("enter data: ")
    if i=='':
        break
    sum+=float(i)
    
print('sum is: ',sum)

enter data: 22
enter data: 11
enter data: 32.5
enter data: 23.5
enter data: 63.2
enter data:
sum is:  152.2

In [1]:
sum=0.0
product=1
count=0
tot=0
while True:
    i=input("Enter data: ")
    if i=='':
        break
    count+=1
    i=float(i)
    tot+=i
    if i%2==0:
        sum+=i
    else:
        product*=i
print("Total elements:",count,"Sum is :",sum,"Average:",tot/count,"Product:",product)

Enter data: 2
Enter data: 3
Enter data: 4
Enter data: 5
Enter data:
Total elements: 4 Sum is : 6.0 Average: 3.5 Product: 15.0

In [12]:
count=0
print("Armstrong numbers are: ")
for no in range(100,1000):
    tno=no
    sum=0
    while tno>0:
        d=tno%10
        tno//=10
        sum+=(d**3)
    if sum==no:
        count+=1
        print(no)
print("Total of",count,"armstrong numbers")

Armstrong numbers are:
153
370
371
407
Total of 4 armstrong numbers

In [2]:
### reverse the num
num=int(input("Enter the value"))

reversed_num= 0

while num !=0:
    curr_digit = num%10
    
    reversed_num=10*reversed_num
    reversed_num=reversed_num + curr_digit
    
    num=num//10
    
print("reversed number is: "+str(reversed_num))

Enter the value123654
reversed number is: 456321

In [16]:
def reverse(n):
    if len(n)==0 :
        return n
    
    return reverse(n[1:]) + n[0]
num=int(input("Enter the num: "))

num_string = str(num)

reversed_num = reverse(num_string)

print("Reversed Num is: "+ reversed_num)

Enter the num: 36521452365
Reversed Num is: 56325412563

In [17]:
n=int(input("Enter the number to check: "))
f0,f1,fn=0,1,0
while True:
    if n<fn:
        print(n,"not print of series")
        break
    else:
        if n==fn:
            print(n,"is part of series")
            break
        print("checking done for:  ",fn)
        fn=f0+f1
        f0,f1=f1,fn

Enter the number to check: 90
checking done for:   0
checking done for:   1
checking done for:   2
checking done for:   3
checking done for:   5
checking done for:   8
checking done for:   13
checking done for:   21
checking done for:   34
checking done for:   55
checking done for:   89
90 not print of series

In [21]:
count=0
for no in range(10000,12000):
    tno=no
    rno=0
    while tno>0:
        d=tno%10
        tno//=10
        rno=rno*10+d
    if rno==no:
        count+=1
        print(no)
print("Total of",count,"are palindrom")

10001
10101
10201
10301
10401
10501
10601
10701
10801
10901
11011
11111
11211
11311
11411
11511
11611
11711
11811
11911
Total of 20 are palindrom

In [22]:
i=1
while i<=5:
    if i==3:
        break
    print(i)
    i+=1
else:
    print("else here")
print("done")

1
2
done

In [23]:
start=input("Enter char to start:")
end=input("Enter chaar to end: ")

for i in range(ord(start),ord(end)+1):
    for j in range(ord(start),i+1):
        print(chr(j),end=' ')
    print()

Enter char to start:a
Enter chaar to end: g
a
a b
a b c
a b c d
a b c d e
a b c d e f
a b c d e f g

In [25]:
for i in range(1,6):
    print(" "*(5-i),end='')
    for j in range(1,i+1):
        print(j,end='')
    print()

    1
   12
  123
 1234
12345

In [26]:
k=1
i=1
n=int(input("enter n: "))
while i<n:
    j=1
    while j<=i and k<=n:
        print(k,end=' ')
        k+=1
        j+=1
    i+=1
    print("")

enter n: 15
1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [29]:
a={}
type(a)
b={0}
type(b)

set

In [1]:
a=[]
while True:
    e=input("enter data: ")
    if e=='':
        break
    a.append(float(e))
print("Total elements entered",len(a))
avg=sum(a)/len(a)
print("Average: ",avg)
print("List of elements are:")
for i in a:
    if i>=avg:
        print(i)

enter data: 22
enter data: 11
enter data: 89
enter data: 12
enter data: 24
enter data: 25
enter data:
Total elements entered 6
Average:  30.5
List of elements are:
89.0

In [2]:
a=[11,22,33,11,44,22,55,66,11,77,11,88,99,11,33]
aset=set(a)

for i in sorted(aset):
    print(i,":",a.count(i))

11 : 5
22 : 2
33 : 2
44 : 1
55 : 1
66 : 1
77 : 1
88 : 1
99 : 1

In [4]:
a=[[22,11,3],[33,11,44],[66,22,4],[88,99,22]]

In [5]:
for sublist in a:
    print(sorted(sublist))

[3, 11, 22]
[11, 33, 44]
[4, 22, 66]
[22, 88, 99]

In [6]:
for sublist in a:
    print(sorted(sublist,reverse=True))

[22, 11, 3]
[44, 33, 11]
[66, 22, 4]
[99, 88, 22]

In [8]:
import math

In [9]:
n=5
for r in range(1,6):
    print(math.factorial(n)/(math.factorial(n-r)*math.factorial(r)))

5.0
10.0
10.0
5.0
1.0

In [10]:
a=int(input("enter a number: "))
b=int(input("enter a number: "))
c=a/b
print("C is",c)

print("still trying to live life")
print("alive and kicking")

enter a number: 9
enter a number: 0

ZeroDivisionError: division by zero

In [11]:
# we only trapping error not what type 
try:
    a=int(input("enter a number: "))
    b=int(input("enter a number: "))
    c=a/b
except Exception:
    print("Exception")
    
else:
    print("C is",c)
finally:
    print("by Amar sir")


print("still trying to live life")
print("alive and kicking")

enter a number: 9
enter a number: 0
Exception
by Amar sir
still trying to live life
alive and kicking

In [12]:
# we only trapping error not what type 
try:
    a=int(input("enter a number: "))
    b=int(input("enter a number: "))
    c=a/b
except Exception as arg:
    print("Exception:",arg)
    
else:
    print("C is",c)
finally:
    print("by Amar sir")
print("still trying to live life")
print("alive and kicking")

enter a number: 9
enter a number: 0
Exception: division by zero
by Amar sir
still trying to live life
alive and kicking

In [1]:
# we only trapping error not what type 
try:
    a=int(input("enter a number: "))
    b=int(input("enter a number: "))
    c=a/b
    print("C is",c)
except Exception as arg:
    print("Exception:",arg)

finally:
    print("by Amar sir")
print("still trying to live life")
print("alive and kicking")

enter a number: 9
enter a number: 0
Exception: division by zero
by Amar sir
still trying to live life
alive and kicking

In [2]:
# we only trapping error not what type 
try:
    a=int(input("enter a number: "))
    b=int(input("enter a number: "))
    c=a/b
    print("C is",c)
except Exception as arg:
    print("Exception:",arg)

print("still trying to live life")
print("alive and kicking")

enter a number: 9
enter a number: 0
Exception: division by zero
still trying to live life
alive and kicking

### CLass in python

In [28]:
class A:
    def myA(self):
        print("hii i am from class A")

In [29]:
#simple or single level
class B(A):
    def myB(self):
        print("i am from B")

In [30]:
obj=B()

In [31]:
obj.

SyntaxError: invalid syntax (Temp/ipykernel_3504/1731120645.py, line 1)

In [32]:
class A:
    def myA(self):
        print("hii i am from class A")
class B(A):
    def myB(self):
        print("i am from B")
class C(B):
    def myC(self):
        print("C here hi")

In [33]:
obj=C()

In [38]:
obj.

SyntaxError: invalid syntax (Temp/ipykernel_3504/1731120645.py, line 1)