In [25]:
#1
n=int(input("enter the number of rows:"))
for i in range (1,n+1):
    for j in range (1,i+1):
        print(j,end="")
    print()

enter the number of rows:5
1
12
123
1234
12345

In [2]:
#2
n=int(input("enter the number of rows:"))
for i in range (1,n+1):
    for j in range (1,i+1):
        print(i,end="")
    print()

enter the number of rows:5
1
22
333
4444
55555

In [23]:
#3
n=int(input("enter the number of rows:"))
for i in range (1,n+1):
    for j in range (1,i+1):
        print(j,end="")
    print()
for i in range (n,1,-1):
    for j in range (1,i):
        print(j,end="")
    print()

enter the number of rows:5
1
12
123
1234
12345
1234
123
12
1

In [10]:
#4
n=int(input("enter the number of rows:"))
for i in range (n,0,-1):
    for j in range (1,i+1):
        print(j,end="")
    print()
for i in range (1,n+1):
    for j in range (1,i+1):
        print(j,end="")
    print()

enter the number of rows:5
12345
1234
123
12
1
1
12
123
1234
12345

In [14]:
#5
n=int(input("enter the number of rows:"))
for i in range (n,0,-1):
    for j in range (i,0,-1):
        print(j,end="")
    print()
for i in range (1,n+1):
    for j in range (i,0,-1):
        print(j,end="")
    print()

enter the number of rows:5
54321
4321
321
21
1
1
21
321
4321
54321

In [19]:
#6
n=int(input("enter the number of rows:"))
for i in range (1,n+1):
    print(" "*(n-i),end="")
    for j in range (1,i+1):
        print(j,end=" ")
    print()

enter the number of rows:5
    1
   1 2
  1 2 3
 1 2 3 4
1 2 3 4 5

In [29]:
#7
n=int(input("enter the number of rows:"))
for i in range (n,0,-1):
    for j in range (0,i):
        print(n-j,end="")
    print()

enter the number of rows:5
54321
5432
543
54
5

In [26]:
#8
n=int(input("enter the number of rows:"))
for i in range (1,n+1):
    for j in range (0,i):
        print(n-j,end="")
    print()

enter the number of rows:5
5
54
543
5432
54321

In [30]:
#9
n=int(input("enter the number of rows:"))
for i in range (n,0,-1):
    for j in range (1,i+1):
        print(j,end="")
    print()

enter the number of rows:5
12345
1234
123
12
1

In [31]:
#10

In [33]:
#11
n=int(input("enter the number of rows:"))
for i in range (1,n+1):
    for j in range (0,i):
        print(i-j,end="")
    print()

enter the number of rows:5
1
21
321
4321
54321

In [34]:
#12

In [35]:
#13

In [51]:
#14
n=int(input("enter the number of rows:"))
for i in range (1,n+1):
    for j in range (1,i+1):
        print(j,end="")
    for k in range (i-1,0,-1):
        print(k,end="")
    print()

enter the number of rows:5
1
121
12321
1234321
123454321

In [55]:
#15
n=int(input("enter the number of rows:"))
for i in range (n,0,-1):
    print(" "*(n-i),end="")
    for j in range (1,i+1):
        print(j,end=" ")
    print()

enter the number of rows:5
1 2 3 4 5
 1 2 3 4
  1 2 3
   1 2
    1

In [72]:
#16
n=int(input("enter the number of rows:"))
for i in range (1,n+1):
    print(" "*(n-i),end="")
    for j in range (1,i+1):
        print(j,end=" ")
    print()
for i in range (n,1,-1):
    print(" "*((n+1)-i),end="")
    for j in range (1,i):
        print(j,end=" ")
    print()

enter the number of rows:5
    1
   1 2
  1 2 3
 1 2 3 4
1 2 3 4 5
 1 2 3 4
  1 2 3
   1 2
    1

In [106]:
#17
n=int(input("enter the number of rows:"))
space=0
for i in range (1,n+1):
    print(" "*space,end="")
    for j in range (i,n+1):
        print(j,end="")
    print()
    space+=1
space=4
for i in range (n,0,-1):
    print(" "*space,end="")
    for j in range (i,n+1):
        print(j,end="")
    print()
    space-=1

enter the number of rows:5
12345
 2345
  345
   45
    5
    5
   45
  345
 2345
12345

In [108]:
#18
n=int(input("enter the number of rows:"))
space=0
for i in range (1,n+1):
    print(" "*space,end="")
    for j in range (i,n+1):
        print(j,end=" ")
    print()
    space+=1
space=4
for i in range (n,0,-1):
    print(" "*space,end="")
    for j in range (i,n+1):
        print(j,end=" ")
    print()
    space-=1

enter the number of rows:5
1 2 3 4 5
 2 3 4 5
  3 4 5
   4 5
    5
    5
   4 5
  3 4 5
 2 3 4 5
1 2 3 4 5

In [109]:
#19
space=4
n=int(input("enter the number of rows:"))
for i in range (n,0,-1):
    print(" "*space,end="")
    for j in range (i,n+1):
        print(j,end=" ")
    print()
    space-=1

enter the number of rows:5
    5
   4 5
  3 4 5
 2 3 4 5
1 2 3 4 5

In [123]:
#20
space=4
n=int(input("enter the number of rows:"))
for i in range(1,n+1):
    print(" "*space,end="")
    for j in range(1,i+1):
        print(j,end="")
    space-=1
    for j in range(i-1,0,-1):
        print(j,end="")
    print()

enter the number of rows:5
    1
   121
  12321
 1234321
123454321

In [128]:
#21
n=int(input("enter the number of rows:"))
for i in range(1,n+1):
    for j in range(1,i+1):
        print(j%2,end="")
    print()

enter the number of rows:5
1
10
101
1010
10101

In [134]:
#22
n=int(input("enter the number of rows:"))
for i in range(1,n+1):
    for j in range(1,n+1):
        if(i==j):
            print(j,end="")
        else:
            print("0",end="")
    print()

enter the number of rows:5
10000
02000
00300
00040
00005

In [140]:
#23
n=int(input("enter the number of rows:"))
space=4
for i in range (1,n+1):
    print("1"*space,end="")
    for j in range (1,i+1):
        print(i,end="")
    print()
    space-=1

enter the number of rows:5
11111
11122
11333
14444
55555

In [165]:
#24
n=int(input("enter the number of rows:"))
for i in range (1,n+1):
    for j in range (i,n+1):
        print(j,end="")
    for k in range (i,n):
        print(k,end="")
    print()

enter the number of rows:5
123451234
2345234
34534
454
5

In [169]:
#25
n=int(input("enter the number of rows:"))
space=4
for i in range(1,n+1):
    print(" "*space,end="")
    for j in range(1,i+1):
        print(i,end=" ")
    print()
    space-=1

enter the number of rows:5
    1
   2 2
  3 3 3
 4 4 4 4
5 5 5 5 5

In [174]:
#26
n=int(input("enter the number of rows:"))
space=4
for i in range(n,0,-1):
    for j in range(i,n+1):
        print(j,end="")
    print("5"*space,end="")
    print()
    space-=1

enter the number of rows:5
55555
45555
34555
23455
12345

In [4]:
n=int(input("enter the number of rows:"))
space=n-1
for i in range(1,n+1):
    print(" "*space,end="")
    space-=1
    print("#"*i,end="")
    print()

enter the number of rows:4
   #
  ##
 ###
####

In [8]:
n=int(input("enter a num="))
for i in range(n,0,-1):
    for j in range(0,i):
        print("* ",end="")
    print("")

enter a num=5
* * * * *
* * * *
* * *
* *
*

In [1]:
n=int(input("enter the number of rows:"))
for i in range (n,0,-1):
    print(" "*(i-1),end="")
    for j in range(i,n+1):
            print("*",end="")
    print()

enter the number of rows:5
    *
   **
  ***
 ****
*****

In [2]:
n=int(input("enter the number of rows:"))
for i in range (n,0,-1):
    print(" "*(n-i),end="")
    for j in range(i,0,-1):
        print("*",end="")
    print()

enter the number of rows:5
*****
 ****
  ***
   **
    *

In [3]:
n=int(input("enter the number of rows:"))
for i in range (1,n+1):
    print(" "*(n-i),end="")
    for j in range(1,i+1):
        print("*",end=" ")
    print()

enter the number of rows:5
    *
   * *
  * * *
 * * * *
* * * * *

In [4]:
n=int(input("enter the number of rows:"))
for i in range (n,0,-1):
    print(" "*(n-i),end="")
    for j in range(i,0,-1):
        print("*",end=" ")
    print()

enter the number of rows:5
* * * * *
 * * * *
  * * *
   * *
    *

In [5]:
n=int(input("enter the number of rows:"))
for i in range (n,0,-1):
    print(" "*(n-i),end="")
    for j in range(i,0,-1):
        print("*",end=" ")
    print()
for i in range (1,n+1):
    print(" "*(n-i),end="")
    for j in range(1,i+1):
        print("*",end=" ")
    print()

enter the number of rows:5
* * * * *
 * * * *
  * * *
   * *
    *
    *
   * *
  * * *
 * * * *
* * * * *

In [6]:
n="ABCDE"
for i in range(1,len(n)+1):
    print(n[:i])

A
AB
ABC
ABCD
ABCDE

In [7]:
n="ABCDE"
for i in range(len(n),0,-1):
    print(n[:i])

ABCDE
ABCD
ABC
AB
A